@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(245, 245, 245);
}

/* nav bar */
.header {
    margin: 30px auto;
    width: 1280px;
}
.navbar {
    margin-bottom: 30px;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
}
.logo {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-btn {
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    border: 2px solid rgb(0, 106, 80);
    border-radius: 5px;
    padding: 15px 30px;
    transition: 0.5s;
}
.nav-btn:hover {
    background-color: rgb(0, 106, 80);
    color: #fff;
}



/* header section */

.header-section {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-bottom: 80px;
}
.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 100px;
    
}
.header-content-text {
    width: 600px;
}

.header-title {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.header-sub-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 25px;
}
.header-btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 17px 34px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.header-btn:hover {
    background-color: rgb(2, 77, 58);
    color: rgb(255, 255, 255);
}
.header-image {
    width: 470px;
}

/*main section*/

main {
    width: 1280px;
    margin: 30px auto;
}
.pillar-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}
.pillar-cards {
    display: flex;
    align-items: center;
    gap: 25px;
}
.pillar-card {
    width: 300px;
    margin: 30px auto;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    cursor: pointer;
    transition: 0.5s;
}
.pillar-card:hover {
    scale: 1.09;
}
.pillar-card-image {
    width: 60px;
    margin-bottom: 25px;
}
.card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}
.card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}
.future-vision {
    width: 1280px;
    margin: 30px auto;
}
.vision-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}
.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}
.future-card {
    display: flex;
    align-items: center;
    gap: 24px;
}
.future-card-1 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    transition: 0.5s;
}
.future-card-1:hover {
    scale: 0.95;
}
.future-card img {
    width: 60px;
}
.future-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 25px;
}
.future-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
}
.future-card-1-btn {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    padding: 11px 20px;
    border: none;
    outline: none;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    cursor: pointer;
    transition: 0.5s;
}
.future-card-1-btn:hover {
    background-color: rgb(2, 43, 114);
}

.future-card-2 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
    transition: 0.5s;
}
.future-card-2:hover {
    scale: 0.95;
}
.future-card-2-btn {
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    padding: 11px 20px;
    border: none;
    outline: none;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    cursor: pointer;
    transition: 0.5s;
}
.future-card-2-btn:hover {
    background-color: rgb(0, 68, 37);
}
.future-card-3 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
    transition: 0.5s;
}
.future-card-3:hover {
    scale: 0.95;
}
.future-card-3-btn {
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 11px 20px;
    border: none;
    outline: none;
    margin-top: 24px;
    cursor: pointer;
    transition: 0.5s;
}
.future-card-3-btn:hover {
    background: rgb(136, 96, 2);
}



/* younus section */
.younus {
    background: url("assets/quote-bg.png"), rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: 28px 30px;
    background-size: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px;
    margin-bottom: 80px;
}
.younus-description {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}
.name {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.younus-position {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* news section */
.news {
    margin-bottom: 80px;
}
.news-heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}
.news-content {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news-container {
    display: flex;
    flex-direction: column;
}
.news-content-1, .news-content-2 {
    display: flex;
    gap: 32px;
    border-radius: 24px;
    align-items: center;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    margin-top: 48px;
    padding: 48px;
}
.news-content-1 .news-image, .news-content-2 .news-image {
    border-radius: 24px;
    width: 408px;
}
.news-logo {
    margin: 12px 0px;
}
.news-title {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.date {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}
.date span {
    margin-left: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.news-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}
.news-btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 13px 26px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.news-btn:hover {
    background-color: rgb(5, 75, 56);
}
.donate-section {
    margin-bottom: 80px;
}
.donate-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.donate-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px auto 32px;
    width: 1100px;
}

.donate-card {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-around;
    width: 1100px;
    margin: 32px auto 0px;
}
.donate-taka {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    padding: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.donate-taka:hover {
    background: rgb(198, 228, 214);
}
#money {
    width: 900px;
    margin: 32px auto;
    padding: 20px 40px;
    border: none;
    outline: none;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 20px;
    display: block;
}
.money-btn {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    margin: 32px auto;
    transition: 0.5s;
}
.money-btn:hover {
    background-color: rgb(2, 66, 50);
}

/*Subscribe section*/
.subscribe {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px;
    margin-bottom: 80px;
}
.subscribe-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.subscribe-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 622px;
    margin: 0px auto 24px;
}

.subscribe-input {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#email {
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px;
    width: 600px;
    border: none;
    outline: none;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.subscribe-btn {
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    border: none;
    outline: none;
    width: 150px;

    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
}
.subscribe-btn:hover {
    background: rgb(0, 54, 41);
}
.subscribe-footer {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
}

footer {
    background: rgb(255, 255, 255);
    padding: 50px 100px;
}
.footer {
    width: 80%;
    margin: auto;
}
.footer-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 31px;
}
.border {
    border-bottom: 1px solid rgba(14, 14, 14, 0.589);
}
.footer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 31px;
}
.footer-image img {
    cursor: pointer;
    transition: 0.5s;
}
.footer-image img:hover {
    scale: 1.3;
}